{% set cfg = config.plugins.tabs %}

{% if cfg.defer_js %}
	{% do assets.addJs('plugin://tabs/js/tabs.js', {loading:'defer'}) %}
{% else %}
	{% do assets.addJs('plugin://tabs/js/tabs.js') %}
{% endif %}

{% if cfg.built_in_css %}
	{% do assets.addCSS('plugin://tabs/css/tabs.css') %}
{% endif %}

{% set set_name = page.slug %}

<{{ cfg.nav_element }} data-tabs="{{ set_name }}">
{% for tab in page.header.tabs %}
	{% set tab_name = tab.title|hyphenize %}
	<li><a href="#{{ set_name }}_{{ tab_name }}">{{ tab.title }}</a></li>
{% endfor %}
</{{ cfg.nav_element }}>
	
{% for tab in page.header.tabs %}
{% set tab_name = tab.title|hyphenize %}
<{{ cfg.tab_element }} id="{{ set_name }}_{{ tab_name }}">
	{{ tab.content|markdown }}
</{{ cfg.tab_element }}>	
{% endfor %}

<script>
	document.addEventListener('DOMContentLoaded', (event) => {
		(new Tabs({
			"attr": "{{ cfg.tabset_attribute }}",
			"name": "{{ set_name }}",
			"nav_class": "{{ cfg.nav_class }}",
			"tab_class": "{{ cfg.tab_class }}",
			"tab_active": "{{ cfg.tab_class_active }}",
			"tab_hidden": "{{ cfg.tab_class_hidden }}",
			"btn_class":  "{{ cfg.btn_class }}",
			"btn_active": "{{ cfg.btn_class_active }}"
		})).init();
	});
</script>
